* {
    font-family: "Roboto";
    background-color: #1F2937;
}

section {
    display: block;
}

.navbar a {
    display: flex;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}


.hero {
    display: flex;
    justify-content: center;
}

.hero-main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.left-side {

}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subheading {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.signup .hollow {

}

.right-side {
    background-color: lightgrey;
    flex-direction: column;
}

.placeholder {
    background-color: lightgrey;
    align-self: center;
}

.info {
    background-color: aliceblue;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-divs {

}

.info-tag {

}

.placeholder-box {

}

.box-subtitle {

}

.quote-section {
    background-color: #E5E7EB;
}

.quote-div {

}

.quote {
    font-size: 36px;
    font: light italic;
    color: #1F2937;
}

.quote-author {

}

.cta {
    background-color: aliceblue;
}

.cta-div {

}

.subtitle {

}

.footer {

}

.footer-text {
    
}