* {
    font: Roboto;
    background-color: #1F2937;
}

.navbar {

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}


.hero {

}

.hero-main {
    
}

.left-side {

}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subheading {
    font-size: 18px;
    color: #E5E7EB;
}

.signup .fill {
    background-color: #3882F6;
}

.signup .hollow {

}

.right-side {

}

.placeholder {

}

.info {

}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-divs {

}

.info-tag {

}

.placeholder-box {

}

.box-subtitle {

}

.quote-section {
    background-color: #E5E7EB;
}

.quote-div {

}

.quote {
    font-size: 36px;
    font: light italic;
    color: #1F2937;
}

.quote-author {

}

.cta {

}

.cta-div {

}

.subtitle {

}

.footer {

}

.footer-text {
    
}